@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.footer {
    display: flex;
    border-top: solid 4px map-get($brands-primary, "black");
    height: map-get($height-section-desktop , "small" );

    margin-top: 50px;
    .col    {
        width   : 120px;
    }
    &.inline{
        justify-content: space-between;
        .col{
            margin-right: 100px;
        }
        a{
            width: 200px;
            margin-right: 100px;
        }
        .infos{
            display: flex;
            align-items: center;
            margin-left: 100px;
        }
        @include mq("tablet-wide", max){
            flex-direction: column;
            justify-content: center;
            .infos{
                display: block;
                margin: 0;
            }
            .top{
                margin: 38px 0;
            }
        }
    }

    &.column{
        flex-direction: column;
        justify-content: center;

        .infos-container{
            justify-content: space-evenly;
        }
        .infos{
            display: block;
            margin: 0;
        }
        .top{
            margin: 78px 0;
        }
        @include mq("tablet", max){
            .top{
                margin: 38px 0;
            }

        }
    }

    p{
        font-size: 16px;
        margin-top: 8px;
        // @include mq("tablet", max){
        //     font-size: map-get($fonts-sizes-mobile, "p-primary");
        // }
    }

    img{
        width: 24px;
        height: 24px;
        object-fit: contain;

    }
    .top    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infos{
        width: 100vw;
        .infos-container{
            display: flex;
            //justify-content: space-between;
            flex-wrap: wrap;
            @include mq("tablet-wide", max){
                justify-content: space-around;
            }
        }
    }
    a{
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            .topArrow{
                animation: rollToTop 1600ms forwards infinite;
            }
        }
        @include mq("tablet", max){
            font-size: map-get($fonts-sizes-mobile, "p-primary");
            width: 50vw;
        }
    }
    img{
        width: 12px;
        height: 12px;
    }

}