@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.hero   {
    display: flex;
    justify-content: center;
    align-items: center;

    height: map-get($height-section-desktop, "hero" );
    min-height: map-get($min-height-sections, "small");

    @include mq("tablet-wide", max){
        height: map-get($height-section-mobile, "hero" );

    }
    
    .hero-container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
        width: 1200px;
        


        @include mq("desktop", max) {
            width: 90%;
        }
        
        @include mq("tablet-wide", max) {
            flex-direction: column;
            text-align: center;
        }


        .img-container{
            width: calc(100% - 10px);

            @include mq("tablet-wide", max) {
                margin-bottom: 16px;
                width: 100%;
            }    
        }
        img{
            width: 100%;
            object-fit: cover;
            max-height: 400px;
            @include mq("tablet-wide", max) {
                width: 100%;
            }        
        }
    

        .right{
            width: calc(100% - 10px);
            justify-content: space-around;
        }

        &.reverse{
            flex-direction: row-reverse;
            @include mq("tablet-wide", max) {
                flex-direction: column;
            }

            .img-container{
                margin: 0;
            }
        }
    }

    p{
        width: 100%;
        margin-top: 16px;

        @include mq("tablet", max){
            font-size: map-get($fonts-sizes-mobile , "p-primary" );
          }
    }

    .secondary{
        font-size: map-get($fonts-sizes-desktop, p-secondary);

        @include mq("tablet", max){
            font-size: map-get($fonts-sizes-mobile , "p-secondary" );
          }
    }

    .btn-link{
        display: inline-block;
        margin-top: 32px;
        margin-right: 16px;
    }



    .hero-container-no-img{
        text-align: center;
        width: 1200px;
        
        @include mq("desktop", max) {
            width: 90%;
        }
        
        .secondary{
            margin-bottom: 95px;
        }
        
        .btn-link{
            width: 350px;
        }
    }
}