@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.hero   {
    height: map-get($height-section-desktop, "hero" );
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include mq("tablet-wide", max){
        height: map-get($height-section-mobile, "hero" );

    }
    
    
    
    .hero-container{
        display: flex;
        width: 1200px;
        


        @include mq("desktop", max) {
            width: 90%;
        }
        
        @include mq("tablet-wide", max) {
            flex-direction: column;
            text-align: center;
        }


        img{
            @include mq("tablet-wide", max) {
                width: 100%;
            }        
        }
        .img-container{
            width: 40vw;
            @include mq("tablet-wide", max) {
                margin-bottom: 16px;
                width: 100%;
            }    
        }
        img{
            width: 100%;
            max-width: 642px;
            object-fit: cover;
        }
    

        .right{
            padding-left:  130px;
            @include mq("desktop", max) {
                padding-left:  60px;
                width: 50%;
            }
            @include mq("tablet-wide", max) {
                padding: 0;
                width: 100%;
            }
            
        }

        &.reverse{
            flex-direction: row-reverse;
            @include mq("tablet-wide", max) {
                flex-direction: column;
            }
            .right{
                padding: 0 130px 0 0;

                @include mq("tablet-wide", max) {
                    padding: 0 60px 0 0;
                }    
                @include mq("tablet", max) {
                    padding: 0 0 0 0;
                }   
            }
            .left{
                margin: 0;
            }
        }
    }

    p{
        margin-top: 16px;
        @include mq("tablet", max){
            font-size: map-get($fonts-sizes-mobile , "p-primary" );
          }
    }

    .secondary{
        font-size: map-get($fonts-sizes-desktop, p-secondary);
        @include mq("tablet", max){
            font-size: map-get($fonts-sizes-mobile , "p-secondary" );
          }
    }
    .btn-link{
        display: inline-block;
        margin-top: 32px;
        margin-right: 16px;
    }



    .hero-container-no-img{
        text-align: center;
        width: 1200px;
        


        @include mq("desktop", max) {
            width: 90%;
        }
        

        .secondary{
            margin-bottom: 95px;
        }
        
        .btn-link{
            width: 350px;
        }
    }


}