@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.step{
    width: 200px;
    margin-right: 16px;
    font-size: map-get($fonts-sizes-desktop , "p-primary" );
    margin-bottom: 50px;
    // @include mq("tablet", max) {
    //     width: 100%;
    // }
    
    span{
        display: inline-block;
        transition: .15s ease-out;
    }
    a{
        font-size: 12px;
        color: map-get($brands-primary, "purple");

        &:hover{
            span{
                transform: translateX(6px)
            }
        }
    }
    p{
        margin: 8px 0 16px 0;
    }
    .secondary{
        font-size: map-get($fonts-sizes-desktop , "p-secondary" );
        margin-bottom: 8px;

    }
}